body {
  position: relative
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto h-full
}

.searchbox-container {
    box-shadow: 0px 20px 32px 0px rgba(96, 97, 112, 0.24), 0px 2px 8px 0px rgba(40, 41, 61, 0.08);
}

.search-filter-container {
    box-shadow: 0px 8px 16px 0px rgba(96, 97, 112, 0.16), 0px 2px 4px 0px rgba(40, 41, 61, 0.04);
}

.result-card {
    box-shadow: 0px 8px 16px 0px rgba(96, 97, 112, 0.16), 0px 2px 4px 0px rgba(40, 41, 61, 0.04);
}

@media (max-width: 576px) {
    .container {
        padding: 0 30px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}